<!--이페이지는 로그인 팝업창입니다. 앵귤러 머터리얼 dialog + input을 조합하였습니다.-->
<md-dialog aria-label="signin" ng-controller="ContentController">
  <form ng-cloak name="signinForm" ng-submit="signin()">
    <md-toolbar class="md-warn md-hue-2" style="background-color:#d32f2f">
      <div class="md-toolbar-tools">
        <h2>무슨 생각을 하고 계신가요?</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    
    <md-content layout-padding>
      <md-input-container class="md-block">
        <label>글을 작성하세요!</label>
        <textarea required name="id" ng-model="user.username"></textarea>
        <div ng-messages="signinForm.id.$error">
          <div ng-message="required">필수항목</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>YouTube Url</label>
        <input type="text" name="youtubeUrl" ng-model="user.youtubeUrl">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Image Url</label>
        <input type="text" name="imageUrl" ng-model="user.imageUrl">
      </md-input-container>

    </md-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-accent" ng-click="cancel()">
       취소
      </md-button>
      <md-button class="md-primary md-hue-1" ng-click="signin()">
        로그인
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
